body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header section */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

nav {
  display: block;
  padding-right: 10px;
}
nav span {
  display: inline-block;
  padding-left: 20px;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
}

/* Body Section */

.content {
  width: 1200px;
  padding-top: 69px;
  margin: 0 auto;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mission h2,
.mission h4 {
  margin: 0;
  padding: 10px 0;
  background-color: black;
  width: 1200px;
  text-align: center;
}

.tea-month {
  width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.tea-month h2,
.tea-month h3 {
  margin: 20px 0;
}

.flavors img {
  width: 300px;
  height: 200px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flavors {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.flavors span {
  margin: 10px 0;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  margin-top: 50px;
}

.locations h3 {
  text-align: center;
  height: 30px;
  margin: 55px 0 15px 0;
}

.loc-box {
  display: flex;
  justify-content: center;
}

.loc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: black;
  margin: 0 20px;
  opacity: 1;
}

.loc h3 {
  margin: 0;
}

.about {
  text-align: center;
  height: 200px;
}

.about h2 {
  margin: 15px 0 45px 0;
}

/* Footer Section */

footer .copyright {
  margin-left: 20px;
}
